<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div style="margin: auto; width: 50%; text-align:center;">
    <h3 style="text-align: center;">Hi, {{ username }}</h3>
    <h2 style="margin-bottom: 40px; text-align: center; border-bottom: 2px solid red;">Here is some movies we want to recommend you</h2>
        {% for movie in movies %}
    <div style="margin-bottom:15px;  padding-bottom:10px; border-bottom: 1px red dashed;" >
            <a href="/movie/{{ movie.originalName }}"><img src="{{ movie.picture }}" style="width: 80%;"/></a>
            <a href="/movie/{{ movie.originalName }}" style="text-decoration: none; color:black;">{{ movie.name }}</a>
    </div>
        {% endfor %}

    </div>
</body>
</html>

