{% extends 'admin.html.twig' %}
{% block title %}Users | Admin Panel{% endblock %}
{% block body %}
    <table class="table table-hover">
        <tr>
            <td class="text-center"><h4>Username</h4></td>
            <td class="text-center"><h4>Email</h4></td>
            <td class="text-center"><h4>Role</h4></td>
            <td class="text-center"><h4>Block User</h4></td>
        </tr>
        {% for user in users %}
            <tr>
                <td class="text-center">{{ user.username }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-center">
                    <select id="{{ user.id }}" class="roleSelect" name="role" {% if roles[user.id] == "admin" %} disabled {% endif %}>
                        <option value="user" {% if roles[user.id] == "user" %} selected {% endif %}>Used</option>
                        <option value="moderator" {% if roles[user.id] == "moderator" %} selected {% endif %}>Moderator</option>
                        <option value="admin" {% if roles[user.id] == "admin" %} selected {% endif %}>Admin</option>
                    </select>
                </td>
                <td class="text-center"><a href="/admin/block_user/{{ user.id }}"><span class="glyphicon glyphicon-ban-circle"></span></a></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}